<body>
  


<h1>Welcome to {{title}}</h1>

<p id=instructions>Use this calculator to calculate the final price and tip of your meal.</p>
<div class="container">
 <!-- <div class="col-md-3">

 </div>
 <div class="col-md-6"> -->
   <p>Meal Price: </p> 
<input type="number" class="form-control" [(ngModel)]="price">
<!-- {{price}} -->

<p>Tax (%): </p> 
<input type="number" class="form-control" [(ngModel)]="tax">
<!-- {{tax}} -->
<br>

<button class="btn btn-primary btn-lg" (click)="calculateTotal(price,tax)">Calculate</button>

<h2 *ngIf="total">Your total is <span>{{total | currency:'USD'}}</span></h2>

<h2 *ngIf="finalTotalLow">10% Gratuity is <span>{{low | currency:'USD'}}</span> for a final total of <span>{{finalTotalLow | currency:'USD'}}</span></h2>

<h2 *ngIf="finalTotalMed">15% Gratuity is <span>{{med | currency:'USD'}}</span> for a final total of <span>{{finalTotalMed | currency:'USD'}}</span></h2>

<h2 *ngIf=finalTotalHigh>20% Gratuity is <span>{{high | currency:'USD'}}</span> for a final total of <span>{{finalTotalHigh | currency:'USD'}}</span></h2>
 <!-- </div>
 <div class="col-md-3">

 </div> -->
</div>
</body>